<div class="container-xxl flex-grow-1 container-p-y">

    <div class="form-group w-50 p-4 m-auto" style="background-color: white; border-radius: 10px">
        <h5 class="card-header" style="padding-left: 0; padding-top: 0">Change Password</h5>

        <div class="form-password-toggle mb-2">
            <label class="form-label" for="current_password">Current Password</label>
            <div class="input-group">
                <input type="password" class="form-control" id="current_password"
                    placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                    aria-describedby="basic-default-password2" />
                <span id="basic-default-password2" class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
            </div>
        </div>

        <div class="form-password-toggle mb-2">
            <label class="form-label" for="new_password">New Password</label>
            <div class="input-group">
                <input type="password" class="form-control" id="new_password"
                    placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                    aria-describedby="basic-default-password2" />
                <span id="basic-default-password2" class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
            </div>
        </div>

        <div class="form-password-toggle mb-2">
            <label class="form-label" for="confirm_password">Confirm Password</label>
            <div class="input-group">
                <input type="password" class="form-control" id="confirm_password"
                    placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                    aria-describedby="basic-default-password2" />
                <span id="basic-default-password2" class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
            </div>
        </div>

        <div class="alert text-center m-auto d-none mt-4" style="width: 100%;" id="change-pass__status" role="alert"></div>

        <div class="button-save d-flex justify-content-end mt-4">
            <button type="submit" id="btn_change_password" class="btn btn-primary" style="">Save</button>
        </div>
    </div>
</div>

<script>
    jsInLog();
</script>