<footer class="">

    <footer class="d-flex flex-wrap text-light p-5 justify-content-around" style="background-color: #000;">
        <div class="footer-left">
            <h4 class="footer-left__title">About us</h4>
            <div class="footer-left__border bg-success mb-4 mt-2" style="height: 10px; border-radius: 10px; width: 100px"></div>
            <a href="" class="footer-left__para d-block">Theatre system</a>
            <a href="" class="footer-left__para d-block">Cluster</a>
            <a href="" class="footer-left__para d-block">Contact</a>
        </div>

        <div class="footer-middle">
            <h4 class="footer-middle__title">RULES & TERMS</h4>
            <div class="footer-middle__border bg-success mb-4 mt-2" style="height: 10px; border-radius: 10px; width: 100px"></div>
            <a href="" class="footer-middle__para d-block">Membership regulations</a>
            <a href="" class="footer-middle__para d-block">Rules</a>
            <a href="" class="footer-middle__para d-block">Instructions for booking tickets online</a>
            <a href="" class="footer-middle__para d-block">General regulations and policies</a>
            <a href="" class="footer-middle__para d-block">Policy to protect consumers' personal information</a>
        </div>

        <div class="footer-right">
            <h4 class="footer-right__title">CUSTOMER CARE</h4>
            <div class="footer-left__border bg-success mb-4 mt-2" style="height: 10px; border-radius: 10px; width: 100px"></div>
            <p class="footer-right__para d-block">Hotline: 19009999</p>
            <p class="footer-right__para d-block">Working hours: 9:00 - 22:00 (All days including holidays and New Year)</p>
            <p class="footer-right__para d-block">Support email: cskh@localhost.vn</p>
        </div>
    </footer>

    <footer class="p-5 d-flex flex-wrap justify-content-center align-items-center">
        <div class="footer-logo mr-3 ml-3">
            <img src="/img/logo_ITZone.png" style="width: 80px; border-radius: 50%" alt="" srcset="">
        </div>

        <div class="footer-info text-light mr-3 ml-3">
            <h6 class="mb-0">Cineplex S2TD Vietnam Star Company Limited</h6>
            <p style="font-weight: bold;" class="mb-0">CNĐKDN: <span style="font-weight: normal;">Business license number: 0104597158. First registration on April 15, 2010</span></p>
            <p style="font-weight: bold;" class="mb-0">Address: <span style="font-weight: normal;">Floor 5, Ton Duc Thang University, 19 Nguyen Huu Tho, Tan Phong, District 7, Ho Chi Minh</span></p>
            <p style="font-weight: bold;" class="mb-0">Hotline: <span style="font-weight: normal;">19002099</span></p>
            <p style="font-weight: normal;" class="mb-0">COPYRIGHT 2010 S2TD. ALL RIGHTS RESERVED</p>
        </div>
    </footer>
</footer>

