<header class="position-fixed w-100 header" style="background-color: #000; z-index:999">
    <nav class="header-nav navbar navbar-expand-lg d-flex flex-wrap justify-content-between align-items-center">
        <header class="header-left">

            <ul class="header-left__list list-unstyled d-flex flex-wrap align-items-center mb-0">
                <li class="header-left__item nav-item ml-5 mr-2">
                    <a href="/">
                        <img src="/img/logo_ITZone.png" style="width: 50px; border-radius: 50%" alt="" srcset=""
                            class="header__img-logo">
                    </a>
                </li>

                <li class="header-left__item nav-item ml-2 mr-2">
                    <a href="" class="header-left__para mb-0">Showtimes</a>
                </li>
                <li class="header-left__item nav-item ml-2 mr-2">
                    <a href="" class="header-left__para mb-0">Theater system</a>
                </li>
                <li class="header-left__item nav-item ml-2 mr-2">
                    <a href="" class="header-left__para mb-0">Promotion/event</a>
                </li>
                <li class="header-left__item nav-item ml-2 mr-2">
                    <a href="" class="header-left__para mb-0">Shop</a>
                </li>
                <li class="header-left__item nav-item dropdown ml-2 mr-2">
                    <a class="nav-link p-0 dropdown-toggle mb-0 header-left__para" href="#" id="navbarDropdown"
                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Others
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">About us</a>
                        <a class="dropdown-item" href="#">Entertainment service</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Recruitment</a>
                    </div>
                </li>
            </ul>
        </header>

        <header class="header-right d-flex flex-wrap align-items-center">
            <div class="header-right__log mr-2 ml-2">
                <a href="" class="header-right__para mb-0 p-2"
                    style="border: 1px solid green; border-radius: 10px; font-weight: 300">
                    Sign in / Sign out
                </a>
            </div>

            <div class="header-right__book-ticket mr-5 ml-3">
                <a href="" class="header-right__para mb-0 pt-2 pb-2 pl-3 pr-3 bg-success" style="border-radius: 10px">
                    <i class="fa-solid fa-ticket"></i>
                    BOOK TICKET
                </a>
            </div>
        </header>
    </nav>
</header>